.skill-box {
    margin: 20px 0;
    width: 90%;
}

.skill-card-Item:not(:last-child) {
    margin-bottom: 50px;
}

.skill-card-Item:nth-child(2) {
    margin-top: -50px;
}

@media(min-width:830px) {
    .skill-box {
        width: 85%;
    }
}