.page {
    margin: -15px 0 0 0;
    padding: 0;
    right: 0;
    position: absolute;
    background-color: #2f383a;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
}

.page:hover {
    background-color: #ebebec;
    color: #000000;
}