.menus {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.menus a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 7px;
    padding: 5px;
}

.menus a:hover {
    color: #ccaacc;
}


/* @media (min-width:520px) {
    .menus a {
        padding: 0 20px;
        letter-spacing: .2rem;
    }
} */

@media (min-width:365px) {
    .menus {
        flex-direction: row;
    }
}