.side-card-item {
    display: flex;
    flex-direction: column;
}

.side-card-key {
    font-family: Montserrat-reg;
    font-weight: bold;
    font-size: 0.9rem;
    width: 40%;
}

.side-card-value {
    font-family: Montserrat-reg;
    font-weight: normal;
    font-size: 0.85rem;
}

@media (min-width:450px) and (max-width:649px) {
    .side-card-item {
        flex-direction: row;
    }
}

@media(min-width:1745px) {
    .side-card-item {
        flex-direction: row;
    }
}

@media(min-width:1840px) {
    .side-card-key {
        font-size: 1rem;
    }
    .side-card-value {
        font-size: 0.9rem;
    }
}