.logo-component h2 {
    color: azure;
    display: block;
    padding: 10px 25px;
    border: 2px solid #ffffff;
    font-family: Montserrat-med;
    letter-spacing: 0.2em;
}

.logo-component h3 {
    color: azure;
    position: relative;
    display: block;
    padding: 10px 25px;
    font-family: inherit;
    font-weight: normal;
    letter-spacing: 0.15em;
}

.logo-component h3::after {
    background-color: #efefef;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 150px;
}