.infos-box div {
    margin-bottom: 20px;
}

.infos-item {
    display: flex;
    flex-direction: column;
}

.infos-item span {
    font-size: 1.1rem;
    font-weight: bold;
}

.infos-lang {
    display: flex;
    flex-direction: column;
}

.infos-desc {
    line-height: 1.8;
    text-align: justify;
}