.footer-box {
    width: 100%;
    background-color: #2f383a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 7vh;
}

.footer-designer {
    color: azure;
    font-family: inherit;
    font-weight: normal;
    font-size: 13px;
}

.footer-designer span {
    color: #c7c7c7;
}