.footer {
    margin: 0;
    bottom: 0;
    width: 100%;
    background-color: #2f383a;
    height: 7vh;
}

.designer {
    color: azure;
    text-align: center;
    padding: 20px 0;
    font-family: inherit;
    font-weight: normal;
    margin: auto 0;
    font-size: 13px;
}

.designer span {
    color: #c7c7c7;
}