.card {
    display: flex;
    flex-direction: column;
}

.Card-Key {
    font-family: Montserrat-reg;
    font-weight: bold;
    font-size: 0.9rem;
    width: 40%;
}

.Card-Value {
    font-family: Montserrat-reg;
    font-weight: normal;
    font-size: 0.85rem;
}

@media (min-width:450px) and (max-width:649px) {
    .card {
        flex-direction: row;
    }
}

@media(min-width:1700px) {
    .card {
        flex-direction: row;
    }
}