.infos div {
    margin-bottom: 20px;
}

.infos-title {
    display: flex;
    flex-direction: column;
}

.infos-title span {
    font-size: 1.1rem;
    font-weight: bold;
}

.infos-tech {
    display: flex;
    flex-direction: column;
}