@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Black.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Montserrat-med;
    src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-reg;
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat-reg;
}